@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
*{
font-family: 'Montserrat',sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');

body{
background-color: rgb(255, 255, 255);
}

.title{
  max-width: 1000px;
  
  margin: 0 auto;
  text-align: center;
  padding: 150px;
}

.cards{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}
.content-cards{
  display: flex;
  align-items: inherit;
}
.content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
}
.content .fab{
  font-size: 70px;
  margin: 16px 0;
}
.content > *{
  flex: 1 1 100%;
}

.content-1:hover{
  background: #1b6f48;
  background: #1b6f48;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #0f2324;
  padding: 0px;
  color: white;
  font-size: 60;
  font-family: 'Cabin', sans-serif;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
.list{
  list-style: none;
  display: flex;
  gap: 25px;
  margin-right: 180px;
}
.logo{
  padding: 5px
}

#toggler,
.navbar label{
  display: none;
}
@media screen and (max-width: 600px){
  .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    margin-right: 0px;
  }
  .list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu{
    max-height: 100%;
  }

}
a:hover{
  color: #1b6f48;
}



.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
.category_block li:hover {
  background-color: #007bff;
}
.category_block li:hover a {
  color: #ffffff;
}
.category_block li a {
  color: #343a40;
}
.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}
.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}
.product_rassurance .list-inline {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}
.product_rassurance .list-inline li:hover {
  color: #343a40;
}
.reviews_product .fa-star {
  color: gold;
}
.pagination {
  margin-top: 20px;
}
footer {
  background: #343a40;
  padding: 40px;
}
footer a {
  color: #f8f9fa!important
}
